
@{
    ViewData["Title"] = "CVS SCIM Source";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <center>

        <h2 class="title">Welcome to CVS LOB </h2>

        <br>
        <div class="docs-section" id="intro">
            <h3>Import Users from LOB via SCIM Source</h3>
        </div>

        <fieldset style="display:block;">
 
                <br>
                <h2 class="title">use Users and Group tabs to view provisioning</h2>

                <br>
     
        </fieldset>
  
            <div>
                <img src="~/img/cvs-pharmacy-1200.jpg" />
            </div>
        
        <br />
        <br />
        <br />
        <br />
    </center>
</div>

